out/
kernel/kallrecon/
module/VERSION
module/META-INF/com/google/android/update-binary
*.zip
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.symvers
*.lds
Module.symvers
modules.order
.module-common.o
.safemod*
.*.cmd
.tmp_versions/
